<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.hugoandrade.gymapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.SignUpActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.admin.AdminMainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.admin.GymUserListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.admin.ExerciseListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.admin.CreateGymUserActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.admin.CreateExerciseActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.staff.StaffMainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.staff.AddGymMemberActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.member.MemberMainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.member.MyGymStaffActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.member.BuildWorkoutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.member.HistoryActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.member.WorkoutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:theme="@style/AppTheme.Filter"
            android:name=".view.member.SelectExercisesActivity"
            android:parentActivityName=".view.member.BuildWorkoutActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".model.service.MobileClientService"
            android:process=":azureService"
            android:enabled="true"/>

        <provider
            android:name=".provider.StorageProvider"
            android:authorities="org.hugoandrade.gymapp.provider"
            android:exported="false" />

    </application>

</manifest>
